{% extends 'Home.html.twig' %}

{% block title %}Orderproduct index{% endblock %}

{% block navbar %}
   
    {% if id_user %}
	   <li><a href="{{path('app_product_index',{'id_user': id_user })}}"class="active" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
    {% endif %}
    {% endblock %}
{% block stylesheets %}
    <style>
        .card {
            display: flex;
            flex-direction: column;
            height: 100%; /* Ensure each card takes full height */
        }

        .card-body {
            flex-grow: 1; /* Allow card body to grow to take remaining space */
        }

        .card-img-top {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .button-delete {
            margin-top: 1rem; 
        }
    </style>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">Orderproduct index</h1>
        </div>
    </div>

    <div class="row">
        {% for orderproduct in orderproducts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% set imagePath = orderproduct.prodImg %}
                {% set parts = imagePath|split('/') %}
                {% set relativeImagePath = '/uploads/' ~ parts|last %}
                <img src="{{ relativeImagePath }}" class="card-img-top" alt="{{ orderproduct.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ orderproduct.title }}</h5>
                    <p class="card-text">Price: {{ orderproduct.price }}</p>
                    <p class="card-text">Order Date: {{ orderproduct.orderdate }}</p>
                    <div class="button-container">
                        <a href="{{ path('app_orderproduct_show', {'idOrder': orderproduct.idOrder,'id_user': id_user}) }}" class="btn btn-primary">Show</a> 
                        <a href="{{ path('app_order_checkout', {'idcheck': orderproduct.idOrder}) }}" class="btn btn-success">PAY</a>
                    </div>
                    {{ include('orderproduct/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-12">
            <p>No records found</p>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
