

{% extends 'Home.html.twig' %}

{% block title %}Discussion{% endblock %}

{% block navbar %}
    {% if id_user %}
	    <li><a href="{{path('app_product_index',{'id_user': id_user })}}" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}"class="active">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
        
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Discussion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Iddis</th>
                <td>{{ discussion.iddis }}</td>
            </tr>
            <tr>
                <th>Receiver</th> 
                <td>{{ discussion.receiver.idUser }}</td> 
            </tr>
            <tr>
                <th>Idsender</th>
                <td>{{ discussion.idsender }}</td>
            </tr>
            <tr>
                <th>Sig</th>
                <td>{{ discussion.sig }}</td>
            </tr>
        </tbody>
    </table>

    {#<a href="{{ path('app_discussion_index') }}">back to list</a>#}

    {#<a href="{{ path('app_discussion_edit', {'iddis': discussion.iddis}) }}">edit</a>#}

    {{ include('discussion/_delete_form.html.twig') }}
{% endblock %}
