{% extends 'Home.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block navbar %}
   
    {% if id_user %}
	   <li><a href="{{path('app_product_index',{'id_user': id_user })}}"class="active" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
    {% endif %}
    {% endblock %}
{% block body %}
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">

    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index',{ 'id_user': id_user }) }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
    
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
{% endblock %}
