<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log In | ArtyVenci </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{asset('img/logo.png')}}" type="image/icon type">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
<link rel="stylesheet" href="{{asset('css/style.css')}}" >

</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>


<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container" style="
    height: 550px;
">
    <span class="error animated tada" id="msg" style="top: 37%;" ></span>
  
     <a href="{{path('login')}}"><img src="{{asset('img/return.png')}}" alt="ArtyVnci" style="width: 8%;position: absolute;top: 3%;left: 4%;" ></a>
   

<!--action="{{ path('authenticate')}}"-->

   
  <form name="form1" class="box" onsubmit = "return checkStuff()" action="{{ path('send_SMS')}}" method="post" >
      <img src="{{asset('img/logo.png')}}" alt="ArtyVnci"style="width: 35%;">
       
       {% if error %}
         <span class="error animated tada" id="msg" style="display: block;top: 37%;">{{ error }}</span>
       {% endif %}
      <h5>Reset your password <br><br>
      Enter your phone number to help us find you. <br>
       We’ll send you a new password for your account</h5>
   

        <input type="text" name="phone" id="phone" placeholder="Phone Number" autocomplete="off">
         <a href="{{path('Reset_Password')}}" class="forgetpass">Lost Your Phone Number ?</a>
        <input type="submit" value="Send SMS " class="btn1" style="
    top: 70%;
">
      </form>

     
  </div> 
 
       
</div>
<!-- partial -->
<script  src="{{asset('js/resetpasswordviaphone.js')}}"></script>

</body>
</html>

