{% extends 'Home.html.twig' %}

{% block title %}CHnage Password{% endblock %}
{% block navbar %}
   
    {% if id_user %}
	    <li><a href="{{path('app_product_index',{'id_user': id_user })}}"class="active" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
    {% endif %}
    {% endblock %}

{% block body %}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
    <h1>Changing Password</h1>
<div class="container">
    
     {% if error %}
         <span class="error animated tada" id="msg" style="color:red">{{ error }}</span>
      {% endif %}
    <form action="{{ path('upassword',{'id_user': id_user})}}" class="form" method="post" >
      
      <input type="password" placeholder="Enter your old password " class="form__input" name="oldp" id="oldp" style="display: block;margin: 20px auto;background: #ffffff;border: 0;border-radius: 5px;padding: 14px 10px;width: 320px;outline: none;color: #000000;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;-o-transition: all .2s ease-out;transition: all .2s ease-out;
" />
    <input type="password" placeholder="Enter your new password" class="form__input" name="newp" id="newp" style="display: block;margin: 20px auto;background: #ffffff;border: 0;border-radius: 5px;padding: 14px 10px;width: 320px;outline: none;color: #000000;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;-o-transition: all .2s ease-out;transition: all .2s ease-out;
" />
<input type="submit" value="Confirm" class="btn1" style="border: 0;background: #198754;color: #dfdeee;border-radius: 100px;width: 340px;height: 49px;font-size: 16px;transition: 0.3s;cursor: pointer;
">   
    </form>
  </div>
    

    <a href="{{ path('Profile',{'id_user': id_user})}}">Back to Profile </a>
           </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
   
{% endblock %}
