<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log In | ArtyVenci </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{asset('img/logo.png')}}" type="image/icon type">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
<link rel="stylesheet" href="{{asset('css/style.css')}}" >

</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>


<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container" style="
    height: 580px;
">
    <span class="error animated tada" id="msg"></span>
   
   

<!--action="{{ path('authenticate')}}"-->

   
  <form name="form1" class="box" onsubmit = "return checkStuff()" action="{{ path('authenticate')}}" method="post" >
      <img src="{{asset('img/logo.png')}}" alt="ArtyVnci"style="width: 35%;">
        {% if error %}
         <span class="error animated tada" id="msg" style="display: block;">{{ error }}</span>
       {% endif %}
     
      <h5>Sign in to your account.</h5>

        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off">
        <i class="typcn typcn-eye" id="eye" style="top: 285px;left: 330px;"></i>
        <input type="password" name="password" id="password" placeholder="Passsword"  autocomplete="off">
        <label>
          <input type="checkbox">
          <span></span>
          <small class="rmb">Remember me</small>
        </label>
        <a href="{{path('Reset_Password')}}" class="forgetpass">Forget Password?</a>
        <input type="submit" value="Sign in" class="btn1" style="
    top: 70%;
" >
      </form>

    
     
     

        <a href="{{path('signup')}}" class="dnthave">Join ArtyVenci</a>
  </div> 
 
       
</div>
<!-- partial -->
<script  src="{{asset('js/login.js')}}"></script>

</body>
</html>

