{% extends 'Home.html.twig' %}

{% block title %}Display Forums
{% endblock %}

  	{% block navbar %}
		{% set id_user = idu.idUser %}
		{% if id_user %}
			<li><a href="{{path('app_product_index',{'id_user': id_user })}}"class="active" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li> 
		{% endif %}
	{% endblock %}




{% block body %}
	<style>
		.DisplayTable {
			text-align: center;
			padding: 10px;
			margin: 10px;
		}
		th,
		td {
			padding-right: 15px;
			width: 100%;
		}
		.fcc-btn {
			background-color: lightblue;
			color: white;
			padding: 15px 25px;
			text-decoration: none;
			border: none;
			border-radius: 5px;
			display: inline-block;
			transition: all 0.3s ease;
			cursor: pointer;
			position: absolute;
			right: 1em;
		}
		.titleButt {
			background-color: transparent;
			color: white;
			padding: 15px 25px;
			text-decoration: none;
			border: none;
			border-radius: 5px;
			display: inline-block;
			transition: all 0.3s ease;
			cursor: pointer;
		}
		.fcc-btn-search {
			background-color: lightblue;
			color: white;
			padding: 15px 25px;
			text-decoration: none;
			border: none;
			border-radius: 5px;
			display: inline-block;
			transition: all 0.3s ease;
			cursor: pointer;
			position: absolute;
			right: 1em;
			top : 13em;
		}
	</style>
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
		<div class="container">
			<div class="row justify-content-center">
				<div>{% include 'weather.html.twig' %}</div>
				<div class="col-lg-6 text-center">
					<a class="fcc-btn" href="{{path('app_add_forum_user',{'idu':idu.idUser})}}">+</a>
					<a class="fcc-btn-search" href="{{path('forums_search',{'idu':idu.idUser})}}">Search</a>
					{% for f in forums %}
						{% include 'forum/forumTemplate.html.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="pagination-container d-flex justify-content-center mt-4">
			<ul
				class="pagination">
				{# Previous page link #}
				<li class="page-item {% if forums.currentPageNumber == 1 %}disabled{% endif %}">
					<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'idu': idu.idUser,'page': forums.currentPageNumber - 1})) }}">Previous</a>
				</li>

				{# Page links #}
				{% for page in 1..forums.pageCount %}
					<li class="page-item {% if page == forums.currentPageNumber %}active{% endif %}">
						<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'idu': idu.idUser,'page': page})) }}">{{ page }}</a>
					</li>
				{% endfor %}

				{# Next page link #}
				<li class="page-item {% if forums.currentPageNumber == forums.pageCount %}disabled{% endif %}">
					<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'idu': idu.idUser,'page': forums.currentPageNumber + 1})) }}">Next</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- End Hero Section -->
{% endblock %}
