{% extends 'base.html.twig' %}

{% block title %}Display Forums{% endblock %}
{% block navbar %}
		{% set id_user = idu.idUser %}
		{% if id_user %}
			<li><a href="{{path('app_product_index',{'id_user': id_user })}}"class="active" >Gallery</a> 
        <li><a href="{{path('app_lists_forum_user',{'idu': id_user })}}" >Forums</a>
        <li><a href="{{path('app_auction_index',{ 'id_user': id_user })}}">Auction</a></li>
        <li><a href="{{ path('app_discussion_index', { 'id_user': id_user }) }}">Messenger</a></li> 
        <li><a href="{{ path('app_event_index_front', { 'id_user': id_user }) }}">Events</a></li> 
        <li><a href="{{ path('Profile', { 'id_user': id_user }) }}">Profile</a></li>
		{% endif %}
	{% endblock %}
{% block body %}
<style>
    .DisplayTable  {
        text-align: left; 
        padding : 10px;
        margin : 10px;
    }
    th,td {
      padding-right: 15px;
    }
</style>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
        <table class="DisplayTable">
            <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Posts Number</th>
            <th>Date</th>
            </tr>
            {% for f in forums %}
                <tr>
                    <td>{{ f.title }}</td>    
                    <td>{{ f.description }}</td>
                    <td>{{ f.repliesNumber }}</td>
                    <td>{{ f.getDate| date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
{% endblock %}